@media only screen and (max-width: 800px) {
    .middle {
        padding: 4rem 20%;
    }

    .book-content {
        padding: 5rem 15% !important;
    }
}

@media only screen and (max-width: 600px) {
    .whatsapp {
        font-size: 28px;
    }

    .left .content {
        padding: 0rem !important;
    }

    .right {
        border-top: rgb(192, 192, 192) 1px solid;
    }

    .right .content {
        height: 100%;
        padding: 3rem 2rem !important;
    }

    .middle {
        width: 100%;
        padding: 3rem 1.5rem;
        text-align: justify;
    }

    .middle h1 {
        font-size: 2rem;
    }

    .middle p {
        font-size: 1rem;
    }

    .img-grid {
        padding: 3rem 5%;
    }

    .work {
        padding: 2rem;
        text-align: left;
    }

    .container {
        position: relative;
        width: 100% !important;
    }

    .overlays p {
        font-size: small !important;
    }

    .testhead {
        font-size: 2rem;
        margin-bottom: -4rem;
    }

    .slider__txt {
        margin: auto 5%;
        line-height: 1.7;
        color: #111;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    footer .row {
        padding: 1rem !important;
        margin: 0 !important;
        width: 100% !important;
    }

    .book-content {
        padding: 5rem 5% !important;
    }

    .btn-warning {
        font-weight: 500 !important;
        font-size: medium !important;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .c-no {
        height: 100%;
    }

    .counter-Txt {
        margin-top: 35px !important;
    }

    .margin-bot-35 {
        margin-bottom: 35px;
    }
}